<% if flash[:notice] %>
  <div class="alert alert-info" role="alert"><%= flash[:notice] %></div>
<% end %>

<div>
  <%= form_tag users_bulk_create_path, method: :post, multipart: true do |f| %>
    <div class="search_item">
      <%= file_field_tag 'users_file', id: "file_input" %>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">CSVインポート</button>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  function file_selected(file_field){
    var filename = $(file_field)[0].files[0].name;
    $("#filename").val(filename);
  }
</script>