<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザーid:</strong>
  <%= @user.user_id %>
</p>

<p>
  <strong>氏名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>パスワード:</strong>
  <%= @user.password %>
</p>
