<% if @user_authority == 1 or @user_authority == 2 %>
  <h1 style="text-align: center;">報告書検索</h1>
<% else %>
<h1 style="text-align: center;">トップページ</h1>
<% end %>

<p style="line-height: 30px; text-align: center;"><%= link_to '就職試験受験報告書検索', et_report_searchs_path %></p>
<p style="line-height: 30px; text-align: center;"><%= link_to '入学試験受験報告書検索', ee_report_searchs_path %></p>
<% if @user_authority == 1 or @user_authority == 2 %>
  <p style="line-height: 30px; text-align: center;"><%= link_to 'トップへ戻る', home_top_path %></p>
<% end %>
