<h1>トップページ</h1>
<p><%= link_to '報告書の登録', home_report_top_path %></p>
<p><%= link_to '報告書の検索', home_retrieval_top_path %></p>
<p><%= link_to 'ログインユーザ－一覧', users_path %></p>
<p><%= link_to '報告書未承認一覧', home_top_path %></p>
